[Desktop Entry]
Version=1.0
Type=Application
Name=Andorid Studio
Comment=Android IDE
Exec=env STUDIO_JDK={{jdk_destination}}/{{jdk_azul_jdk_8_link_destination}} {{ansible_user_dir}}/Software/android-studio/bin/studio.sh
Icon={{ansible_user_dir}}/Software/android-studio/bin/studio.png
Path=
Terminal=false
StartupNotify=true
