[Desktop Entry]
Version=1.0
Type=Application
Name=VisualVM
Comment=JVM Profiler
Exec=env JAVA_HOME={{jdk_global_jdk_directory}} {{ansible_user_dir}}/{{base_software_directory}}/visualvm/bin/visualvm
Icon={{ansible_user_dir}}/{{base_software_directory}}/visualvm/visualvm.png
Path=
Terminal=false
StartupNotify=true
